.avoid-clicks {
	pointer-events: none;
	opacity: 0.5;
  }

.art {
	padding: 2rem 3rem;
	display: flex;
	justify-content: space-between;

	&__side {
		&__image {
			width: 8rem;
			height: 8rem;
			background-size: cover;
			opacity: 0.5;
			
			&:hover {
				opacity: 1;
				cursor: pointer;
			}
			
			&--active {
				opacity: 1;

				&:hover {
					cursor: auto;
				}
			}
		}
	}

	&__image {
		width: 55%;
		min-width: 50vw;
		background-repeat: no-repeat;
		height: 100vh;
		background-size: contain;
		background-position-x: center;
	}

	&__content {
		width: 35%;
		&__title {
			border-bottom: solid 1px;
			padding: 0.5rem 0;
			font-family: 'Rift-Regular';
			font-size: 1.8rem;
			display: flex;
			justify-content: space-between;
			align-content: center;

			&__actions {
				color: $color-action;
				display: flex;
				width: 20%;
				justify-content: flex-end;

				svg {
					margin-left: 0.5rem;
				}
			}

			&__image-title {
				margin: 0 1rem;
			}

			svg:hover {
				color: $color-base;
				cursor: pointer;
			}
		}

		&__info {
			margin: 3rem 0 1rem 0;
			font-size: 1.5rem;
			font-family: 'Rift-Regular';
		}

		&__tooltip {
			svg {
				margin-left: 0.5rem;
				color: $color-error
			}
		}
	}
}

@include mobile {
	.art {
		flex-wrap: wrap;
		padding: 1rem;

		&__side {
			width: 100%;
			display: flex;
			&__image {
				width: 5rem;
				height: 5rem;
			}
		}

		&__image {
			width: 100%;
			height: 80vh;
		}

		&__content {
			width: 100%;
			&__title {
				font-size: 1.2rem;

				&__actions {
					width: 20%;
				}
			}

			&__info {
				margin: 2rem 0 0.5rem 0;
				font-size: 1.2rem;
			}
		}
	}
}

@include ipad {
	.art {
		flex-wrap: wrap;
		padding: 2rem;

		&__side {
			width: 100%;
			display: flex;
			&__image {
				width: 15rem;
				height: 15rem;
			}
		}

		&__image {
			width: 100%;
			height: 100vh;
		}

		&__content {
			width: 100%;
			margin-top: 2rem;
			font-size: 1.5rem;
			line-height: 2rem;

			&__title {
				font-size: 2.5rem;

				&__actions {
					width: 20%;
				}
			}

			&__info {
				margin: 5rem 0 0.5rem 0;
				font-size: 2rem;
			}
		}
	}
}

@include tablet-portrait {
	.art {
		flex-wrap: wrap;
		padding: 3rem;

		&__side {
			width: 100%;
			display: flex;
			&__image {
				width: 15rem;
				height: 15rem;
			}
		}

		&__image {
			width: 100%;
			height: 100vh;
		}

		&__content {
			width: 100%;
			margin-top: 2rem;
			font-size: 2rem;
			line-height: 2.5rem;

			&__title {
				font-size: 3.5rem;

				&__actions {
					width: 20%;
				}
			}

			&__info {
				margin: 5rem 0 0.5rem 0;
				font-size: 2.5rem;
			}
		}
	}
}

@include desktop-only {
	.art {
		&__image {
			max-width: 50vw;
		}
	}
}
