.button {
	font-family: "Rift-Regular";
	font-size: 1.5rem;
	line-height: 1.875;
	background: transparent;
	color: $color-white;
	border: none;
	min-width: 10rem;
	padding: 0.5rem 1.5rem;
	border-radius: 2rem;
	box-shadow: none;
	cursor: pointer;
	transition: all $timing $easing;

	@include hover {
		color: $color-base;
	}
}

@include mobile {
	.button {
		background: transparent;
		color: $color-white;
		border: none;
	}
}

@include ipad {
	.button {
		background: transparent;
		color: $color-white;
		border: none;
		font-size: 3rem;
	}
}

@include tablet-portrait {
	.button {
		background: transparent;
		color: $color-white;
		border: none;
		font-size: 3rem;
	}
}

@include tablet-landscape {
	.button {
		font-size: 2rem;
		border-radius: 3rem;
	}
}

@include desktop-only {
	.button {
		background: $color-base;
		border: 1px solid $color-base;
		font-size: 1.5rem;
		color: $color-black;

		@include hover {
			background: $color-black;
		}
	}
}