.about {
	display: flex;
	justify-content: flex-end;
	background: url('assets/images/theNoy.png') no-repeat center;
	background-size: cover;
	height: 90vh;
	padding: 5rem;

	&__content {
		width: 50%;
		padding: 0 5rem;

		.tooltip {
			&__text{
				margin-top: -6.5rem;

				svg {
					margin-left: 0.5rem;
					color: $color-error;
				}
			}
		}

		&__tooltip {
			&__text {
				line-height: 1.5rem;
			}
			svg {
				margin-left: 0.5rem;
			}
		}

		&__title {
			font-family: Rift-Regular;
			font-size: 3.2rem;
			line-height: 4rem;
			display: flex;
			justify-content: space-between;
			border-bottom: solid 2px;

			svg:hover {
				color: $color-base;
				cursor: pointer;
			}
		}
	}
}

@include mobile {
	.about {
		background: none;
		height: auto;
		padding: 1rem;
		justify-content: center;
		flex-wrap: wrap;

		&__content {
			width: 100%;
			padding: 1rem;
		}

		&__image {
			height: 15rem;
			width: 100%;
			background: url('assets/images/theNoy.png') no-repeat center;
			background-size: cover;
			margin-bottom: 1rem;
		}
	}
}

@include ipad {
	.about {
		background: none;
		height: auto;
		padding: 1rem;
		justify-content: center;
		flex-wrap: wrap;

		&__content {
			width: 100%;
			padding: 1rem;
			font-size: 1.3rem;
			line-height: 1.8rem;
		}

		&__image {
			height: 15rem;
			width: 100%;
			background: url('assets/images/theNoy.png') no-repeat center;
			background-size: cover;
			margin-bottom: 1rem;
		}
	}
}

@include tablet-portrait {
	.about {
		background: none;
		height: auto;
		padding: 2rem;
		justify-content: center;
		flex-wrap: wrap;

		&__content {
			width: 100%;
			padding: 1rem;
			font-size: 1.3rem;
			line-height: 1.8rem;
		}

		&__image {
			height: 15rem;
			width: 100%;
			background: url('assets/images/theNoy.png') no-repeat center;
			background-size: cover;
			margin-bottom: 1rem;
		}
	}
}

@include tablet-landscape {
	.about {
		height: auto;
		&__content {
			padding: 1rem;
			font-size: 1.3rem;
			line-height: 1.8rem;
		}
	}
}