.homepage {
	background: url('../../assets/images/bg-main.png') no-repeat center;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	background-size: cover;
	display: flex;
	justify-items: flex-end;

	&__content {
		width: 100%;
		height: 14.5rem;
		margin-top: 70vh;
		border-bottom: solid 1px;
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		padding: 5rem;
	}

	&__button {
		position: absolute;
		right: 3rem;
		bottom: 3.5rem;

		&__content {
			display: flex;
			justify-content: space-around;
			svg {
				margin: auto 0.5rem
			}
		}
	}
}

@include mobile {
	.homepage {
		background: url('../../assets/images/geisha.png') no-repeat center;
		width: 100vw;
		height: 100vh;
		background-size: cover;

		&__content {
			margin-top: 65vh;
			width: 100%;
			height: 10rem;
			padding: 0 2rem;
			overflow: hidden;
			border-bottom: none;
			justify-content: center;
		}

		&__logo {
			img {
				width: 10rem;
				border-bottom: solid 1px;
			}
		}

		&__button {
			margin: -1.5rem 0;
			right: auto;
		}
	}
}

@include ipad {
	.homepage {
		background: url('../../assets/images/geisha.png') no-repeat center;
		width: 100vw;
		height: 100vh;
		background-size: cover;

		&__content {
			margin-top: 67vh;
			width: 100%;
			height: 20rem;
			padding: 0 2rem;
			overflow: hidden;
			border-bottom: none;
			justify-content: center;
		}

		&__logo {
			img {
				width: 20rem;
				border-bottom: solid 1px;
			}
		}

		&__button {
			margin: -1.5rem 0;
			right: auto;
		}
	}
}

@include tablet-portrait {
	.homepage {
		background: url('../../assets/images/geisha.png') no-repeat center;
		width: 100vw;
		height: 100vh;
		background-size: cover;

		&__content {
			margin-top: 68vh;
			width: 100%;
			height: 30rem;
			padding: 0 2rem;
			overflow: hidden;
			border-bottom: none;
			justify-content: center;
		}

		&__logo {
			img {
				width: 25rem;
				border-bottom: solid 1px;
			}
		}

		&__button {
			margin: 2rem 0;
			right: auto;
			&__content {
				svg {
					margin: auto 1rem
				}
			}
		}
	}
}

@include tablet-landscape {
	.homepage {
		&__button {
			bottom: 5.5rem;
			
			&__content {
				svg {
					margin: auto 1rem
				}
			}
		}
	}
}