.navbar {
	ul {
		vertical-align: middle;
		display: flex;
		padding: 1rem 0;
		margin: 0;
		list-style: none outside none;
	}

	li {
		+ li {
			padding-left: 0.5rem;
		}
	}
	
	:nth-child(2),
	:nth-child(3),
	:nth-child(6) {
		margin-left: 1rem;
	}

	a {
		color: $color-white;
		text-decoration: none;
	}


	.tooltip {
		&__text{
			margin: 1rem 0 0 -5rem;

			svg {
				margin-left: 0.5rem;
				color: $color-error;
			}
		}
	}

	a:hover,
	&__active {
		border-bottom: solid;
	}

	&__locale {
		opacity: 0.5;
		background-color: $color-action;
		color: $color-black;
		border: none;
		margin: 0;
		padding: 0;
		border-radius: 1rem;
		width: 1.3rem;
		height: 1.3rem;
		font-size: 1rem;

		@include hover {
			opacity: 1;
			background-color: $color-base;
			cursor: pointer;
		}

		&--active {
			opacity: 1;
			background-color: $color-base;

			@include hover {
				cursor: not-allowed;
			}
		}
	}
}

.header {
	font-family: "Rift-Regular";
	font-size: 1.3rem;
	position: sticky;
	z-index: 999;
	width: 100%;
	padding: 1rem 3rem;
	display: flex;
	justify-content: space-between;
	&__logo img {
		width: 8rem;
	}
}

.mobile-header {
	z-index: 999;
	padding: 1rem;
	font-size: 1.5rem;

	&__sidebar {
		background-color: $color-black;
		position: absolute;
		width: 0;
		height: 100vh;
		top: 0;
		left: 0;
		overflow: hidden;
		transition: width 0.5s;

		&__close {
			font-size: 1rem;
			position: absolute;
			margin-left: 60vw;
			margin-top: 1rem;
		}
	}
}

.open {
	width: 70vw;
}

@include mobile {
	.navbar {
		ul {
			margin-top: 2rem;
			min-width: 70vw;
			display: block;
			font-family: "Rift-Regular";

			svg {
				margin-right: 0.5rem;
			}

			li {
				margin: 2rem 1rem;
				padding-left: 1rem;
			}

			:nth-last-child(2),
			:last-child {
				display: inline;
			}

			:last-child {
				padding-left: 0;
				margin-left: 0;
			}
		}

		&__locale {
			width: 2rem;
			height: 2rem;
			font-size: 1.5rem;
		}
	}
}

@include ipad {
	.navbar {
		ul {
			margin-top: 5rem;
			min-width: 70vw;
			display: block;
			font-family: "Rift-Regular";

			svg {
				margin-right: 0.5rem;
			}

			li {
				margin: 3rem 1rem;
				padding-left: 1rem;
			}

			:nth-last-child(2),
			:last-child {
				display: inline;
			}

			:last-child {
				padding-left: 0;
				margin-left: 0;
			}
		}

		&__locale {
			width: 2rem;
			height: 2rem;
			font-size: 1.5rem;
		}
	}

	.mobile-header {
		font-size: 2.5rem;
		padding: 2rem;

		&__sidebar {
			&__close {
				font-size: 2rem;
				position: absolute;
				margin-left: 62vw;
				margin-top: 2rem;
			}
		}
	}
}

@include tablet-portrait {
	.navbar {
		font-size: 1.8rem;

		&__locale {
			width: 2rem;
			height: 2rem;
			font-size: 1.5rem;
		}

		:nth-child(2),
		:nth-child(3),
		:nth-child(8) {
			margin-left: 2rem;
		}
	}

	.mobile-header {
		font-size: 2.5rem;
		padding: 2rem;

		&__sidebar {
			&__close {
				font-size: 2rem;
				position: absolute;
				margin-left: 62vw;
				margin-top: 2rem;
			}
		}
	}
}

@include tablet-landscape {
	.navbar {
		font-size: 1.8rem;

		&__locale {
			width: 2rem;
			height: 2rem;
			font-size: 1.5rem;
		}

		:nth-child(2),
		:nth-child(3),
		:nth-child(8) {
			margin-left: 2rem;
		}
	}
}