.footer {
	font-size: 0.8rem;
	width: 100%;
	padding: 1rem 3rem;
	display: flex;
	justify-content: space-between;
	opacity: 0.7;
}

@include tablet-portrait {
	.footer {
		font-size: 1.2rem;
	}
}

@include tablet-landscape {
	.footer {
		font-size: 1.2rem;
	}
}

@include ipad {
	.footer {
		font-size: 1.2rem;
	}
}