@keyframes shake {
	0% { 
		transform: rotate(2deg);
	}
	50% {
		transform: rotate(-3deg);
	}
	70% {
		transform: rotate(3deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.tooltip {
	position: relative;
  
	&__text{
		position: absolute;
		opacity: 0;
		transition: all 0.4s ease;
		content: attr(data-tooltip);
		background: $color-white;
		width: 11rem;
		font-family: "Rift-Regular";
		font-size: 1rem;
		padding: 0.5rem 0.5rem 0.5rem 1rem;
		border-radius: 0.5rem;
		margin: -4.5rem 0 0 -7rem;
		color: $color-black;
		display: flex;
		justify-content: center;
	}

  &:hover > &__text {
	opacity: 1;
	transform: translateY(-2px);
	animation: shake 500ms ease-in-out forwards;
  }
}
