@import 'normalize.css';

* {
	box-sizing: border-box;

	&::before,
	&::after {
		box-sizing: inherit;
	}
}

html,
body,
#app,
.wrapper {
	height: 100%;
	width: 100vw;
}
@font-face {
	font-family: "Rift-Regular";
	src: url('assets/webfontkit-20210407-135638/fort_foundry_-_rift-regular-webfont.woff2') format("woff"),
	}


body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.1rem;
	line-height: 1.35rem;
	color: $color-white;
	background: $color-black;
}

a {
	color: inherit;
	text-decoration: none;
	transition: all $timing $easing;
}

img {
	border: 0;
	display: inline-block;
	vertical-align: top;
}

.switch-wrapper {
	position: relative;
	width: 100vw;
  }
  
.switch-wrapper > div {
	position: absolute;
}