$color-white: #FAFAFA;
$color-black: #020202;
$color-base: #F6AC06;
$color-error: #E95616;
$color-action: #F8C371;

$timing: 0.4s;
$easing: ease-in-out;

$mobile: 375px;
$ipad: 768px;
$tablet-portrait: 1025px;
$tablet-landscape: 1370px;

@mixin flex($align, $justify) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
}

@mixin flex-row($wrap: wrap, $align: stretch, $justify: space-between) {
	@include flex($align, $justify);
	flex-flow: row $wrap;
}

@mixin flex-column($wrap: nowrap, $align: stretch, $justify: space-between) {
	@include flex($align, $justify);
	flex-flow: column $wrap;
}

@mixin desktop-only {
	@media (min-width: $tablet-landscape + 1) {
		@content;
	}
}

@mixin tablet-landscape {
	@media (min-width: $tablet-portrait + 1) and (max-width: $tablet-landscape) {
		@content;
	}
}

@mixin tablet-portrait {
	@media (min-width: $ipad + 1) and (max-width: $tablet-portrait) {
		@content;
	}
}

@mixin ipad {
	@media (min-width: $mobile + 1) and (max-width: $ipad) {
		@content;
	}
}

@mixin mobile {
	@media only screen and (max-width: #{$mobile}) {
		@content;
	}
}

@mixin hover {
	&:hover {
		@media (-ms-high-contrast: none), (-ms-high-contrast: active), (-moz-touch-enabled: 0), (hover) {
			@content;
		}
	}
}

@mixin centered {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
