.gallery {
	display: grid; 
	grid-template-columns: repeat(auto-fill, 550px);
	grid-gap: 0; 
	justify-content: center;
	padding: 2rem 3rem;

	.lazy {
		background-image: none;
		background-color: $color-base;
	}

	&__item {
		height: 550px;
		cursor: pointer;
		overflow: hidden;

		&:hover >  &__image {
			filter: blur(0.5rem);

			&::before {
				content: '';
				background-color: $color-black;
				opacity: 0.5;
				width: 100%;
				height: 100%;
				z-index: 1;
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		&:hover >  &__content {
			display: flex;
		}
		
		&__image {
			width: 100%;
			height: 100%;
			background-size: cover;	
			background-position: center;
		}

		&__content {
			font-family: 'Rift-Regular';
			font-size: 1.2rem;
			display: none;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			position: absolute;
			margin-top: -550px;
			width: 550px;
			height: 550px;
			text-align: center;

			&__view {
				color: $color-base;
				margin: 0;
			}

			&__title {
				font-size: 2.5rem;
				border-bottom: solid 1px;
				padding-bottom: 1rem;
				margin: 1rem 0 0.5rem 0;
			}

			&__date {
				opacity: 0.7;
				margin: 0;
			}
		}

	}
}

@include mobile {
	.gallery {
		padding: 1rem;
		grid-template-columns: repeat(auto-fill, 100%);

		&__item {
			height: 60vh;

			&:hover >  &__content {
				display: none;
			}
		}

	}
}

@include ipad {
	.gallery {
		padding: 1rem;
		grid-template-columns: repeat(auto-fill, 100%);

		&__item {
			height: 70vh;

			&:hover >  &__content {
				display: none;
			}
		}

	}
}

@include tablet-portrait {
	.gallery {
		padding: 2rem 1rem;
		grid-template-columns: repeat(auto-fill, 450px);

		&__item {
			height: 450px;

			&:hover >  &__content {
				display: none;
			}
		}
	}
}